/* General Settings */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden; /* Ensure no scroll bars on the main page */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background Image */
.background-container {
    background: url('../images/home-background-5.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 0; /* Ensure this is lower than the navbar */
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1; /* Ensure the background overlay is behind the navbar */
}

/* Navbar Settings */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the navbar takes the full width of the viewport */
    max-width: 1200px; /* Maintain a max-width for larger screens */
    margin: 0 auto; /* Center the navbar */
    padding: 10px 20px; /* Add some padding for spacing */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002; /* Ensure the navbar stays on top of the background and overlay */
    /* background-color: rgba(0, 0, 0, 0.7); /* Optional: Add background color to navbar */
}

.logo img {
    height: 50px; /* Adjust size as needed */
    filter: invert(18%) sepia(100%) saturate(7481%) hue-rotate(-15deg) brightness(85%) contrast(112%);
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.nav-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main Content Centering */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-center {
    text-align: center;
    padding: 20px;
    color: #fff; /* Adjust to match your theme */
}

.home-title h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.home-cta p {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.home-overview p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.book-thumbnails {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.book-thumbnail {
    max-width: 250px;
    text-align: center; /* Center the text */
}

.book-thumbnail img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.book-thumbnail h3 {
    font-size: 20px;
    margin-bottom: 5px;
    position: relative; /* Ensure it's positioned above other content */
    z-index: 10; /* Arbitrary high value to ensure it's clickable */
}

.book-thumbnail p {
    font-size: 16px;
}



/* Footer Settings */
footer {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Map CSS */
.map-container {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-label {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    top: 20%;
    left: 42%;
    width: auto;
    height: auto;
    position: absolute;
    border-radius: 5px;
    visibility: hidden; /* Hidden by default */
    opacity: 0; /* Fully transparent by default */
    transition: visibility 0s, opacity 0.5s ease-in-out;
    z-index: 20;
    text-align: left; /* Align text to the left */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

#label-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 5px;
}

#label-name {
    font-weight: bold;
}

#label-date {
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
}


.map-image {
    width: 70%; /* Resize the image to 70% of its container */
    height: auto;
    display: block;
}

.compass {
    position: absolute;
    width: 3vw; /* Adjust the size as needed */
    height: 3vw; /* Adjust the size as needed */
    background-image: url('../images/compass.svg'); /* Gold version of the marker */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10; /* Ensure markers are above the map */
}

.marker-one {
    position: absolute;
    width: 1vw; /* Adjust the size as needed */
    height: 1vw; /* Adjust the size as needed */
    background-image: url('../images/marker-1-gold.svg'); /* Gold version of the marker */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure markers are above the map */
    transition: background-image 0.3s ease;
}

.marker-one:hover {
    background-image: url('../images/marker-1-red.svg'); /* Red version of the marker */
}


.marker-two {
    position: absolute;
    width: 1vw; /* Adjust the size as needed */
    height: 1vw; /* Adjust the size as needed */
    background-image: url('../images/marker-2-gold.svg'); /* Gold version of the marker */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure markers are above the map */
    transition: background-image 0.3s ease;
}

.marker-two:hover {
    background-image: url('../images/marker-2-red.svg'); /* Red version of the marker */
}

/* Common label hover behavior */
.marker-one:hover + .map-label,
.marker-two:hover + .map-label {
    visibility: visible;
    opacity: 1;
}

.about-author-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(249, 249, 249, 0.2); /* More transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-image-container {
    margin-bottom: 20px;
}

.author-image-container img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.author-info h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: red;
}

.author-info p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.post-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.post-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #222;
}

.post-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.post-content {
    font-size: 18px;
    line-height: 1.6;
}

.post-footer {
    margin-top: 40px;
    text-align: center;
}

.post-footer a {
    color: #007BFF;
    text-decoration: none;
}

.post-footer a:hover {
    text-decoration: underline;
}

.cuentos-container {
    max-width: 40vw;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.4); /* Transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.cuentos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between items */
    justify-content: space-between;
}

.cuento-item {
    flex: 1 1 calc(50% - 20px); /* Each item takes up 50% of the container minus the gap */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cuento-image {
    width: 100%;
    height: auto;
    display: block;
}

.cuento-title {
    margin: 15px 0 10px;
    font-size: 18px;
    color: #000000;
}

.cuento-title a {
    text-decoration: none;
    color: #000000; /* Ensures the link color is the same as the title */
    position: relative;
    z-index: 10;
}

.cuento-title a:hover {
    text-decoration: underline;
    color: #2d2e30; /* Optional: Changes color on hover */
}

.cuento-excerpt {
    padding: 15px;
    font-size: 16px; /* Smaller font size */
    line-height: 1.4;
    color: #000000;
}

@media (max-width: 768px) {
    .cuento-item {
        flex: 1 1 100%; /* Stacks items on smaller screens */
    }
}
